html {
    scroll-behavior: smooth;
    font-family: "League Spartan", sans-serif, system-ui;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #1a2d33;
    --primary-alpha-500: #1a2d3384;
    --secondary: #f3cfaf;
    --white-bg: #fafafa;
    --white-bg-alpha-100: rgb(255 255 255 / 0.1);
    --white-bg-alpha-500: rgb(255 255 255 / 0.3);
    --bg-dark-alpha-100: rgb(0 0 0 / 0.1);
    --bg-dark-alpha-300: rgb(0 0 0 / 20%);
    --bg-dark-alpha-500: rgb(0 0 0 / 0.4);
    --shadow-dark-100: rgb(0 0 0 / 0.05);
    --shadow-light-100: rgb(255 255 255 / 0.05);
    --txt-primary-300: #374c53;
    --txt-primary-500: #2a393e;
    --txt-primary-700: #132429;
    --txt-secondary-500: #d9b493;
    --txt-secondary-700: #ffd9b7;
    --txt-secondary-1000: #ffdfc2;
    --github-white: #e6edf3;
    --br-c-1: #d4ac32;
    --br-c-2: #74b03b;
    --br-c-3: #425ae2;
    --br-c-4: #106883;
    --txt-invalid: #ff8181;
    --txt-invalid-2: #ff5c5c;
    --txt-invalid-3: #664924;
    --border-invalid: #f92f60;
    --txt-valid: #33ffbb;
    --txt-valid-2: #fcf6de;
    --border-valid: #00d26a;
    --input-bg: #5b666a;
    --input-focus-bg: #657379;
    --bg-image: url(./photos/2cc343b8-37f6-49b8-a54b-d4132dae6817.jpeg);

    --fz-a-1: clamp(1.5rem, 1rem + 2vw, 3.5rem);
    --fz-a-2: clamp(0.75rem, 0.25rem + 1vw, 1.2rem);
    --fz-a-3: clamp(1.25rem, 1rem + 1.5vw, 2.5rem);
    --fz-a-4: clamp(1rem, 0.25rem + 1vw, 1.3rem);
    --fz-a-5: clamp(1rem, 0.6rem + 1vw, 1.5rem);
    --fz-a-6: clamp(1rem, 0.5rem + 1vw, 1.3rem);
    --fz-a-7: clamp(0.85rem, 0.4rem + 0.85vw, 1rem);
    --fz-a-8: clamp(0.75rem, 0.25rem + 1vw, 1rem);
}

@property --br-deg {
    syntax: "<angle>";  
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {--br-deg: 0deg;}
    100% {--br-deg: 360deg;}
}

#main {
    display: flex;
    flex-flow: row nowrap;
    width: max(850px, 100%);
}

#left {
    width: 40%;
    flex: 0 0 auto;
    min-height: 100dvh;
        background-color: var(--secondary);
        background-image: url(./photos/2cc343b8-37f6-49b8-a54b-d4132dae6817.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:local;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}


#organization {
    position: absolute;
    width: 100%;
    height: 8rem;
    background: var(--bg-dark-alpha-500);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10rem;
    font-size: var(--fz-a-1);
    font-weight: bold;
    color: white;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 1rem black;
}

#organization-main {
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 8rem;
    background: var(--primary-alpha-500);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fz-a-1);
    font-weight: bold;
    color: white;
    backdrop-filter: blur(2rem);
    text-shadow: 0 0 1rem black;
    z-index: 1;
    display: none;
}

#org-logo {
    height: clamp(10rem, 1rem + 2vw, 5rem);
    width: clamp(10rem, 1rem + 2vw, 5rem);
    filter: drop-shadow(0 0 1rem var(--secondary));
    transform: translate(calc(-1rem - 2vw), 0px);
}

#org-name {
    transform: translate(calc(-1rem - 2vw), 0px);
}

#source {
    margin-top: auto;
    margin-bottom: 2%;
    font-size: var(--fz-a-2);
    font-weight: 500;
    letter-spacing: 0.15ch;
}

#source-link {
    color: var(--txt-primary-500);
    font-weight: 700;
    font-size: 1.1em;
    transition: all 0.3s;
}

#source-link:hover {
    filter: brightness(180%);
}

#right {
    width: 60%;
    min-height: 100dvh;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: relative;
    background-color: var(--primary);
    overflow: auto;
}

#form-body {
    width: 80%;
    height: fit-content;    
    margin: 1.5rem;
    display: flex;  
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: var(--white-bg-alpha-500);
    box-shadow: 1rem 1rem 1rem var(--shadow-dark-100),  
                -1rem -1rem 1rem var(--shadow-light-100);
    border-radius: 1rem;    
    backdrop-filter: blur(2rem);
    padding: 2vh 2vw;
}

#org-info {
    margin-top: 2vh;
    width: clamp(40ch, 80%, 65ch);
    line-height: clamp(1rem, 1rem + 1.5vw ,2rem);
    margin-bottom: 3vh;
}   

h1 {
    font-size: var(--fz-a-3);
    font-weight: 700;
    margin-bottom: 2vh;
    text-align: center;
    color: var(--txt-primary-700);
}

h2 {
    font-size: var(--fz-a-4);
    font-weight: 600;
    filter: opacity(0.6);
}

#earthly {
    font-style: italic;
    position:static;
}

#form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#signup {
    display: flex;
    flex: 0;
    flex-flow: row wrap;
    gap: 6vh;
    justify-content: center;
    align-items: center;
    height: 90%;

}

#fields {
    display: flex;
    flex-flow: row wrap;
    gap: 2vh 3vw;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

label {
    display: flex;
    flex-flow: column nowrap;
    min-width: 16.5rem;
    max-width: 70%;
    flex: 1 0 0;
    position: relative;
    margin-top: calc(1.5rem + 1vw);
    margin-left: 1.25rem;
}

input {
    height: 2.5rem;
    font-size: var(--fz-a-5);
    border: none;
    transition: all 0.2s;
    background-color: transparent;
    border-bottom: 0.15rem solid var(--bg-dark-alpha-500);
    display:inline-block;
    font-weight: 500;
    outline: none;
    padding: 0 0.5rem;
}

input:-internal-autofill-selected {
    filter: brightness(0.75);
}

input:-internal-autofill-selected:focus {
    filter: brightness(1);
}


input:focus, input:focus-visible {
    outline: none;
    border-bottom: 0.3rem solid var(--secondary);
    box-shadow: 0 5px 5px var(--shadow-dark-100);
}

input::placeholder {
    color: transparent;
}

.label {
    font-size: var(--fz-a-6);
    position: absolute;
    top: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    font-weight: 700;
    transition: all 0.3s;   
    color: var(--txt-primary-700);
    letter-spacing: 0.1ch;
    pointer-events: none;
    margin-left: 0.5rem; }

label:focus-within .label,
input:not(:placeholder-shown) ~ .label{
    top: -1.5rem;
    font-size: clamp(0.85rem, 0.4rem + 0.85vw, 1.15rem);
    margin-left: 0;
}

input:not(:placeholder-shown) ~ .label {
    color: var(--txt-primary-500);
}

input:focus ~ .label {
    color: var(--txt-secondary-700);
    transition: all 0.3s;
}   

.invalid{
    color: var(--txt-invalid);
    border-color: var(--border-invalid);
}

.valid {
    color: var(--txt-valid-2 );
}
.valid:focus, .invalid:focus {
    color: var(--github-white);
}

.info {
    display: flex;
}

.info::before {
    position:relative;
    content: "❌ ";
    top: 0.25rem;
    opacity: 0;
    left: -1.25rem;    
    transition: all 0.3s;
    height: inherit;
    display: flex;
    align-items: center;
}

.info::after {
    content: attr(info-text);
    opacity: 0;
    transition: all 0.3s;
    display: block;
    max-height: 2rem;
    color: white;
    font-size: var(--fz-a-);
    position: relative;
    top: 0.25rem;
    left: -1rem;
}

.invalid ~ .info::after, .invalid ~ .info::before {
    opacity: 1;
}

input#confirm.valid:not(:placeholder-shown) ~ .info::before {
    content: "✅ ";
    opacity: 1;
}

input#confirm.valid:not(:placeholder-shown) ~ .info::after {
    content: attr(info-text-success);
    opacity: 1; 
}

#passwordtip {
    position: relative;
    display: inline-block;
    width: 90%;
    border-inline: auto;
}

#tip {
    visibility: hidden;
    position: absolute;
    width: 100%;
    background-color: #333333ee;
    border-left: 0.3rem solid var(--txt-invalid);
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem;
    z-index: 3;
    top: 0.5rem;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

#password:focus ~ #passwordtip > #tip {
    visibility: visible;
    opacity: 1;
}

#tip.wrong {
    border-color: var(--border-invalid);
}

#tip.right {
    border-color: var(--txt-valid);
}

#tip h3 {
    font-size: var(--fz-a-4);
}

#tip p {
    font-size: var(--fz-a-8);
}

#tip p.wrong {
    display: block;
    transition: all 0.3s;
    opacity: 1;
}

#tip p.right {
    display: none;
    transition: all 0.3s;
    opacity: 0;
}   

#tip p::before {
    content: "•";
    margin-right: 0.5rem;
}

#tip p.wrong::before {
    color: var(--txt-invalid-2);
}

#tip p.right::before {
    color: var(--txt-valid);
}

#submit {
    height: 3rem;
    width: clamp(20ch, 40%, 30ch);
    border: none;
    background: var(--secondary);
    font-size: var(--fz-a-7);
    font-weight: 700;
    letter-spacing: 0.15ch;
    color: var(--txt-primary-500);
    transition: all 0.3s;
    border-radius: 0.5rem;
    position: relative;
}

.border-anim::before {
    content: "";
    opacity: 0;
    transition: opacity 0.3s;   
}

.border-anim:hover::before {
    content: "";
    opacity: 100%;
    transition: opacity 0.3s;
    inset: -0.3rem;
    position: absolute;
    border-radius: inherit;
    z-index: -2;
    filter: blur(0.2rem);
    background: conic-gradient(from var(--br-deg),
        var(--br-c-1),
        var(--br-c-2),
        var(--br-c-3),
        var(--br-c-4),
        var(--br-c-3),
        var(--br-c-2),
        var(--br-c-1)
        );
    animation: rotation 5s linear infinite;
}

.border-anim:active::before {
    inset: -0.2rem;
    filter: blur(0.1rem);
}

#submit:hover {
    color: var(--txt-primary-700);
    background: var(--txt-secondary-1000);
    box-shadow: 8px 8px 8px var(--shadow-dark-100),
                -4px -4px 4px var(--shadow-light-100);
}

#submit:active {
    background: var(--txt-secondary-500);
    box-shadow: none;
}

#login-container {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2rem;
    font-size: var(--fz-a-4);
    font-weight: 500;
}

a {
    position: relative;
    text-decoration: none;
    font-weight: 600;
}

#login {
    display: inline-block;
    width: max-content;
    color: var(--txt-secondary-700);
    margin-left: 1ch;
}

#login::after {
    content: "";
    display: block;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--txt-secondary-700);
    position: relative;
    bottom: -0.5rem;
    transition: all 0.4s;
}

#login:hover::after, #login:active::after {
    left: 0;
    width: 100%;
}

#copyright {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#github-link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

svg {
    height: 3rem;
    width: 3rem;
    transition: all 0.3s;
    fill: var(--github-white);
}

#myname {
    text-decoration: none;
    color: var(--github-white);
    opacity: 0;
    transition: all 0.3s;
}

#copyright:hover svg {
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(0 0 0.5rem var(--shadow-light-100));
}

#copyright:hover #myname {
    animation: showname 0.3s forwards;
    
}
#copyright:not(:hover) #myname {
    animation: hidename 0.3s forwards;
}

@keyframes showname {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes hidename {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0%;
    }
}


@media only screen and (max-width: 850px) {
    body {
        min-height: 100dvh;
        width: max(100dvw, 450px);
        overflow: auto hidden;
        background-color: var(--secondary);
        background-image: var(--bg-image);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-attachment: fixed;
    }
    #main {
        flex-flow: column nowrap;
        width: 100%;
        height: 100dvh;
        display: flex;
        overflow: auto hidden;

    }
    #left {
        display: none;
    }

    #organization {
        display: none;
    }

    #organization-main {
        display: flex;
    }

    #right {
        position: relative;
        background: var(--bg-dark-alpha-100);
        min-height: calc(100dvh - 8rem);     
        width: inherit;
        top: 8rem;
        margin: 0 0 8rem 0;
        overflow: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #form-body {
        min-width: fit-content;
        background-color: var(--bg-dark-alpha-300);
        position: relative;
        top: 0;
    }

    #org-info {
        width: clamp(35ch, 80%, 60ch);
    }

    #signup {
        gap: 3vh;
    }

    label {
        flex-basis: 50%;
        max-width: 400px;
        margin-inline: 1.25rem;
    }

    input {
        background-color: var(--bg-dark-alpha-300);
        border-radius: 0.25rem;
    }

    .label {
        color: var(--github-white);
    }

    input:focus ~ .label {
        margin-left: 0;
    }
    
    input:not(:placeholder-shown, :focus) ~ .label {
        margin-left: 0;
        text-shadow: 0 0 0.15rem var(--txt-secondary-1000);
    }

    #login-container {
        margin-top: 3rem;
    }
    #copyright {
        transform: scale(70%);
        position: relative;
        right: 0;
        bottom: 0;
        padding-bottom: 1rem;
        align-self: center;
    }

}

@media only screen and (max-width: 450px){
    :root {
        font-size: 15px;
    }


    #org-logo {
        height: 7rem;
        width: 7rem;
        filter: none;
    }
    body {
        width: max(100dvw, 250px);
    }

    #org-info {
        width: clamp(25ch, 80%, 60ch);
    }
    
    #fields {
        gap: 2vh;
    }

    label {
        min-width: 200px;   
    }

    h2 {
        padding: 0 10%;
    }

}